/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

/*main*/
*{
    box-sizing: border-box;
}
body {
    color: #1f373d;
    font-family: "Montserrat";
}

.wrapper {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 6rem;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-start {
    justify-content: flex-start;
}

.section-title {
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: -1px;
}

p {
    font-size: 13px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.33px;
}

h3 {
    font-size: 25px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: -0.63px;
}

a {
    color: #1f373d;
}

html, body {
    scroll-behavior: smooth;
}

@media screen and (max-width: 1200px) {
    .wrapper {
        max-width: 100%;
        padding: 0 3rem;
    }
}
@media screen and (max-width: 768px) {
    .section-title {
        width: 100% !important;
        text-align: center;
        margin-right: 0;
    }
    .wrapper {
        max-width: 100%;
        padding: 0 2rem;
    }
}
@media screen and (max-width: 576px) {
    .section-title {
        font-size: 32px;
    }
    .wrapper {
        padding: 0 1rem;
    }
}

/*header*/
.header {
    padding: 37px 0;
}

.header-logo{
    font-size: 25px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.63px;
}

.header-link {
    display: block;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.3s linear;
}

.menu-list-item {
    margin-right: 30px;
}

.menu-list-item:last-child {
    margin-right: 0;
}

.header_buttons .button {
    padding: 14px 20px;
    background: #ffcc01;
    border-radius: 3px;
    margin-left: 25px;
}

.header-link:hover {
    color: #ffcc01;
}

.header_buttons .button:hover {
    color: #fff;
}

.header_burger {
    display: none;
}

@media screen and (max-width: 992px) {
    body.lock {
        overflow: hidden;
    }

    .header_burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .header_burger span {
        background: #1f373d;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
    }

    .header_burger:before, .header_burger:after {
        content: '';
        background: #1f373d;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.4s ease;
    }

    .header_burger:before {
        top: 0;
    }

    .header_burger:after {
        bottom: 0;
    }

    .header_burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header_burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header_burger.active span {
        transform: scale(0);
    }

    .header_menu,
    .header_buttons{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        transition: all 0.3s linear;
        overflow: auto;
        display: block;
    }
    .header_menu{
        padding: 60px 0 0 0;
    }
    .header_menu.active {
        top: 0;
    }
    .header_buttons.active{
        top: 300px;
        text-align: center;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 500;
        width: 100%;
        padding: 20px 0;
    }

    .header:before {
        content: '';
        width: 100%;
        height: 100%;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
    }

    .header_body {
        position: relative;
    }

    .header .logo {
        position: relative;
        z-index: 3;
    }

    .header_menu .menu {
        flex-direction: column;
    }

    .header_buttons .header-link {
        font-size: 20px;
        padding: 5px 0;
    }

    .header_menu .menu-list-item {
        padding: 10px 30px;
        margin: 0;
    }

    .header-link {
        font-size: 18px;
    }

    .header_buttons .button {
        margin-left: 0;
    }
}

/*title*/
.title {
    padding-bottom: 10px;
}

.title .wrapper {
    position: relative;
    height: 630px;
    background: url("../images/Path.jpg") no-repeat right center;
    background-size: 960px 630px;
}

.main-title {
    width: 600px;
    font-size: 62px;
    font-weight: 800;
    line-height: 78px;
    letter-spacing: -1.54px;
    margin-right: 500px;
    padding-top: 150px;
    text-shadow: 2px 2px 10px #f6f5f4;
}

.info-box {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ffcc01;
    padding: 30px 0;
}

.info {
    padding: 0 50px 0 115px;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.45px;
    position: relative;
    transition: all 0.3s ease;
}

.info:hover {
    color: #fff;
}

.info:before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    left: 60px;
    top: calc(50% - 12px);
}

.info-phone:before {
    background: url(../images/phone.svg);
}

.info-location:before {
    background: url(../images/location.svg) no-repeat;
}

.title .form {
    margin-top: 30px;
}

.form .search {
    border: none;
    outline: none;
    background: url(../images/search.svg) no-repeat 27px 50% #ffffff;
    padding: 20px 0 24px 57px;
    color: #919eb1;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.38px;
    border-radius: 5px 0 0 5px;
    width: 365px;
    box-shadow: 1px 1px 3px;
}

.form-btn {
    border: none;
    outline: none;
    background: #ffcc01;
    padding: 20px 30px 24px;
    font-size: 15px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.38px;
    border-radius: 0 5px 5px 0;
    margin-left: -4px;
    cursor: pointer;
    box-shadow: 1px 1px 3px #919eb1;
    color: #1f373d;
    transition: all 0.3s linear;
}

.form-btn:hover {
    color: #fff
}

@media screen and (max-width: 992px) {
    .main-title{
        margin-right: auto;
    }
    .form-btn {
        padding: 10px 30px;
    }
    .form .search{
        padding: 10px 0 10px 57px;
    }
}

@media screen and (max-width: 768px) {
    .main-title {
        font-size: 48px;
        width: 100%;
    }

    .info {
        padding: 15px 30px 15px 90px;
    }
}

@media screen and (max-width: 576px) {
    .title .wrapper{
        height: 500px;
    }
    .main-title {
        font-size: 40px;
        line-height: 45px;
        text-align: center;
        padding-top: 100px;
    }

    .info-box {
        position: static;
        padding: 0 30px;
    }

    .info {
        margin: 0;
        display: block;
        text-align: center;
        padding: 10px 30px;
    }
    .info:before{
        left: 0;
    }

    .title .form {
        width: 100%;
        margin: 60px auto;
        display: flex;
        justify-content: center;
    }
    .form-btn {
        width: 30%;
        padding: 10px;
    }
    .form .search{
        width: 70%;
    }
}
/*statistics*/
.statistics {
    padding: 140px 0 80px;
}

.statistics .wrapper {
    align-items: flex-start;
    gap: 50px;
}
.article{
    flex: 0 1 50%;
}
.counter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.statistics .section-title {
    width: 310px;
}

.statistics .article p {
    margin-top: 50px;
}

.statistics .counter span {
    color: #ffcc01;
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: -1px;
}

.statistics .counter p {
    font-weight: 800;
    line-height: 50px;
}

.counter-item {
    background-color: #f6f5f4;
    padding: 50px 0;
    min-width: 200px;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .statistics {
        padding: 80px 0;
    }
    .statistics .wrapper {
        align-items: center;
    }
    .statistics .article p {
        margin-top: 20px;
    }
    .counter-item {
        padding: 25px 0;
        min-width: 150px;
    }
    .counter{
        gap: 15px;
    }
}

@media screen and (max-width: 768px) {
    .statistics {
        padding: 20px 0;
    }

    .statistics .wrapper {
        flex-direction: column;
        gap: 30px;
    }
    .article{
        text-align: justify;
    }
    .counter{
        width: 100%;
        gap: 30px;
        justify-content: center;
    }
    .counter-item {
        padding: 50px 0;
        min-width: 200px;
    }
}

@media screen and (max-width: 576px) {
    .counter{
        gap: 10px;
    }
    .counter-item {
        padding: 35px 0;
        min-width: 100%;
    }
}

/*apartments*/
.apartments {
    background-color: #f6f5f4;
    padding: 60px 0 80px;
}

.apartments .section-title {
    width: 450px;
    margin-bottom: 80px;
}

.apartments .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card-item {
    box-shadow: 0 2px 25px rgba(23, 44, 51, 0.15);
    margin-bottom: 35px;
    transition: all 0.3s linear;
    overflow: hidden;
}
.card-item:hover{
    box-shadow: 5px 5px 10px rgba(23, 44, 51, 0.5);
    transform: scale(1.1);
}
.card-item img{
    width: 100%;
    height: 380px;
    object-fit: cover;
}
.card-body {
    background: #fff;
    padding: 25px 0 25px 25px;
    margin-top: -2px;
}

.card-body p {
    font-weight: 800;
    line-height: 27px;
    font-size: 15px;
}

.card-body .colored-font {
    color: #ffcc01;
    font-size: 18px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: -0.45px;
}

.card-bottom .socials {
    color: #919eb1;
    font-size: 13px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: -0.33px;
}

.card-bottom .socials span {
    padding-left: 20px;
    margin-right: 20px;
    position: relative;
}

.shower:before {
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 6px);
    width: 11px;
    height: 12px;
    background: url(../images/shower.svg);
}

.bed:before {
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 6px);
    width: 18px;
    height: 12px;
    background: url(../images/bed.svg);
}

.apartments-bottom-btn {
    background: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.38px;
    text-align: center;
    padding: 22px 50px;
    margin-left: 40px;
    border-radius: 5px;
    transition: all 0.3s linear;
}

.apartments-bottom-btn:hover {
    background: #ffcc01;
    color: #fff;
}

@media screen and (max-width: 992px) {
    .apartments {
        padding: 20px 0;
    }

    .apartments .section-title {
        margin-bottom: 30px;
    }
    .apartments .cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .card-item img{
        height: 250px;
    }
    .bottom-block{
        justify-content: space-between;
    }
    .apartments .form{
        width: 65%;
        display: flex;
    }
    .apartments .search{
        width: 70%;
    }
    .apartments .form-btn{
        width: 30%;
    }
    .apartments-bottom-btn{
        padding: 10px 15px;
    }
}

@media screen and (max-width: 768px) {
    .apartments .cards {
        gap: 15px;
    }

    .apartments .card-item:last-child, .apartments .card-item:nth-child(5) {
        display: none;
    }

    .bottom-block{
        flex-direction: column;
        gap: 20px;
    }
    .apartments .form{
        width: 100%;
    }
    .apartments-bottom-btn{
        margin: 0;
    }
}

@media screen and (max-width: 576px) {
    .apartments .cards {
        display: block;
    }
    .apartments .card-item{
        margin-bottom: 20px;
    }

    .apartments .form {
        margin: 15px 0;
    }

    .apartments .card-body {
        padding: 10px;
    }
    .apartments-bottom-btn{
        width: 100%;
    }
}

/*how it works*/
.how-it-works {
    padding: 50px 0 90px;
}

.how-it-works .section-title {
    margin-bottom: 25px;
}

.description {
    width: 360px;
    margin-bottom: 70px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.step {
    display: block;
    box-shadow: 0 2px 25px rgba(23, 44, 51, 0.15);
    overflow: hidden;
    padding-bottom: 50px;
    transition: all 0.3s linear;
}

.step .big-number {
    font-size: 150px;
    font-weight: 600;
    margin-top: -50px;
    margin-left: -35px;
    display: block;
    transition: all 0.3s linear;
}

.card-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 63px;
    letter-spacing: -0.45px;
    transition: all 0.3s linear;
}

.card-title > span {
    margin: 0 15px 0 40px;
}

.card-text {
    padding: 0 40px;
    transition: all 0.3s linear;
}

.card-link {
    margin: 20px auto 0;
    text-align: center;
    display: block;
    width: 50%;
    padding-bottom: 12px;
    font-size: 13px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.33px;
    border-bottom: 3px solid #1f373d;
    transition: all 0.3s linear;
}

.step:hover {
    background: #ffcc01;
}

.step:hover .big-number,
.step:hover .card-title,
.step:hover .card-text,
.step:hover .card-link {
    color: #fff;
}

.step:hover .card-link {
    border-bottom: 3px solid #fff;
}

@media screen and (max-width: 992px) {
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .step {
        flex-basis: 45%;
    }
}

@media screen and (max-width: 768px) {
    .how-it-works {
        padding: 30px 0 30px;
    }

    .how-it-works .section-title {
        margin-bottom: 5px;
        text-align: center;
    }

    .how-it-works .wrapper > p {
        margin-bottom: 30px;
        width: 100%;
        text-align: justify;
    }

    .step {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 576px) {
    .cards{
        display: block;
        width: 100%;
    }
    .description {
        width: 100%;
        padding: 0;
    }
    .card-title{
        text-align: center;
    }
    .step {
        width: 100%;
        margin: 0 0 15px;
    }

    .card-title > span {
        margin: 0 15px;
    }
    .card-text{
        padding: 15px;
    }
}

/*services*/
.services {
    padding-bottom: 70px;
}

.services .description {
    width: 360px;
    margin: 30px 0 55px;
}
.services .image-inner{
    flex: 0 1 70%;
}
.services .image {
    margin: 0 120px 0 -110px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services .subtitle {
    margin: 0 0 15px 5px;
}
.services .text-container{
    flex: 0 0 30%;
}
.services-text {
    margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
    .services .flexbox{
        gap: 20px;
    }
    .services .image-inner{
        flex: 0 0 50%;
    }
    .services .image {
        margin: 0;
    }
    .services .text-container{
        flex: 0 0 50%;
    }
    .services .description {
        margin: 30px 0 10px;
    }
}

@media screen and (max-width: 768px) {
    .services {
        padding-bottom: 30px;
    }

    .services .description {
        margin: 0 0 10px;
        width: 100%;
        text-align: justify;
    }

    .services .flexbox {
        flex-wrap: wrap;
    }
    .services .image-inner{
        flex: 0 0 100%;
        text-align: center;
    }
    .services .image {
        margin: 0 auto;
        width: 60%;
    }

    .services .subtitle {
        margin: 0;
    }
    .services .text-container{
        flex: 0 0 100%;
    }
    .services-text {
        margin-bottom: 15px;
        width: 100%;
        text-align: justify;
    }
}

@media screen and (max-width: 576px) {
    .services .description {
        width: 100%;
    }
}

/*agents*/
.agents {
    padding: 65px 0;
    background: #f6f5f4;
}

.agents .description {
    width: 365px;
    margin: 30px 0 50px;
}
.agents .owl-stage-outer{
    padding: 5px;
}
.agents .socials{
    flex: 0 0 30%;
}
.agents .social {
    width: 20px;
    height: 20px;
    background: url(../images/css_sprites.png) -84px -10px;
}

.agents .social-twitter {
    background-position: -10px -46px;
}

.agents .social-hz {
    background-position: -10px -10px;
}

.agents .colored-font {
    font-size: 14px;
    line-height: 19px;
    flex: 0 0 70%;
    max-width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.agents .social-facebook:hover {
    background-position: -112px -10px;
}

.agents .social-twitter:hover {
    background-position: -46px -46px;
}

.agents .social-hz:hover {
    background-position: -47px -10px;
}
.agents .card-item{
    box-shadow: 0 2px 5px rgba(23, 44, 51, 0.15);
}
.agents .card-item:hover{
    transform: scale(1);
    box-shadow: 0 5px 5px rgba(23, 44, 51, 0.5);
}

.agents .card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s linear;
}
.agents .card-item:hover .card-image{
    transform: scale(1.05);
}
.agents .card-body {
    padding: 15px;
}

.owl-carousel button.owl-dot {
    background: #cdccce;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    margin: 15px 7px 0;
    opacity: 0.5;
    width: 12px;
}

.owl-dots {
    text-align: center;
}

.owl-carousel button.owl-dot.active {
    background: grey;
}

@media screen and (max-width: 768px) {
    .agents {
        padding: 30px 0;
    }

    .agents .description {
        margin: 0;
    }

    .agents .social {
        margin-right: 10px;
    }
}

@media screen and (max-width: 576px) {
    .card-item {
        width: 80%;
        margin: 0 auto;
    }
    .agents .card-image{
        object-fit: contain;
        max-height: 300px;
    }

    .agents .description {
        width: 100%;
    }
    .agents .colored-font {
        font-size: 12px;
        line-height: 16px;
        flex: 0 0 65%;
    }
}

/*adds*/
.adds {
    padding: 80px 0 10px;
}

.pos-rel {
    position: relative;
}

.adds .info-box {
    bottom: -13px;
    right: calc(50% - 173px);
    padding-right: 0;
}

.adds p {
    width: 465px;
}

.adds .second-box {
    flex-direction: row-reverse;
}

.second-box {
    text-align: right;
}

.second-box .info {
    right: -150px;
    bottom: 15px;
}

.button-dark {
    padding: 30px 50px;
    background: #1f373d;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.45px;
}

.button-dark:hover {
    background: #fff;
    border: 1px solid #1f373d;
    color: #1f373d;
}

.third-box p {
    margin-bottom: 70px;
}

.third-box div + div {
    padding-bottom: 16px;
}

.adds .flexbox {
    margin-bottom: 90px;
}

@media screen and (max-width: 1024px) {
    .pos-rel {
        margin: 0 15px;
    }

    .adds p {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .adds {
        padding: 30px 0 10px;
    }

    .first-box, .second-box {
        display: none;
    }

    .third-box {
        flex-wrap: wrap;
    }

    .adds .flexbox {
        margin-bottom: 30px;
    }

    .third-box .pos-rel {
        margin: 0 auto;
        width: 90%;
    }

    .third-box .pos-rel > img {
        width: 100%;
    }

    .third-box p {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 480px) {
    .third-box p {
        width: 100%;
    }
}

/*footer*/
footer {
    padding: 60px 0 90px;
    background: #1f373d;
}

footer h2 {
    color: #fff;
}

.subscribe-input {
    padding: 20px 0 20px 30px;
    background: #fff;
    color: #919eb1;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.38px;
    border: none;
    outline: none;
    vertical-align: middle;
    width: 380px;
}

.button-arrow {
    position: relative;
}

.button-arrow:before {
    content: '';
    position: absolute;
    right: 30px;
    top: 50%;
    width: 28px;
    height: 1px;
    background: #1f373d;
}

.button-arrow:after {
    content: '';
    position: absolute;
    right: 30px;
    top: calc(50% - 4px);
    width: 8px;
    height: 8px;
    border-top: 1px solid #1f373d;
    border-right: 1px solid #1f373d;
    transform: rotate(45deg);
}

#button-arrow {
    padding: 26px 45px;
    background: #fff;
    border: none;
    outline: none;
    vertical-align: middle;
    margin-left: -10px;
    cursor: pointer;
}

.footer-top {
    border-bottom: 2px solid #919eb1;
    padding-bottom: 50px;
    margin-bottom: 80px;
}

.footer-bottom .logo {
    color: #ffffff;
    font-size: 25px;
    font-weight: 800;
    line-height: 27px;
    letter-spacing: -0.63px;
}

.footer-bottom p {
    width: 140px;
    color: #ffffff;
    font-family: "Work Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20.76px;
    letter-spacing: 0.14px;
    margin-top: 70px;
}

.footer-bottom > div > ul > li {
    color: #919eb1;
    font-size: 13px;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
    margin-right: 120px;

}

.footer-bottom ul.flexbox {
    align-items: flex-start;
}

.footer-bottom ul a {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 27px;
}

.footer-bottom ul > li > ul {
    margin-top: 40px;
}

.footer-bottom {
    align-items: flex-start;
}

.footer-bottom ul a:hover {
    color: #919eb1;
}

@media screen and (max-width: 1024px) {
    .footer-bottom > div > ul > li {
        margin-right: 80px;
    }
}

@media screen and (max-width: 768px) {
    footer {
        padding: 30px 0 30px;
    }

    .footer-top {
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .subscribe-input {
        width: 190px;
    }

    .footer-bottom p {
        margin-top: 20px;
    }

    .footer-bottom > div > ul > li {
        margin-right: 25px;
    }

    .footer-bottom ul > li > ul {
        margin-top: 15px;
    }
}

@media screen and (max-width: 480px) {
    #button-arrow, .button-arrow {
        display: none;
    }

    .subscribe-input {
        padding: 10px;
    }

    .footer-bottom {
        flex-direction: column-reverse;
    }

    .footer-bottom > div {
        margin: auto;
    }

    .footer-bottom > div > ul > li {
        margin-right: 20px;
    }

    footer .footer-top a {
        padding: 10px 10px;
    }

    footer h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 375px) {
    footer h2 {
        font-size: 24px;
    }

    .footer-bottom .flexbox {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer-bottom > div > ul > li {
        width: 35%;
    }

    .footer-bottom ul > li > ul {
        margin: 0 0 15px;
    }

    .subscribe-input {
        padding: 10px 3px;
    }

    footer .form {
        margin-left: 5px;
    }
}

@media screen and (max-width: 320px) {
    footer .form {
        margin-left: 0;
    }
}